*{
    background-color: rgb(196, 195, 195);
}




.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(197, 196, 196);
    font-size: 36pt;
    text-align: center;
    border-style: ridge;
    border-color: rgb(67, 66, 66);
    background-image: url(./img/slate-back.jpg);
    letter-spacing: 5px;
    text-transform: uppercase;
    
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display:inline;
}

.navbar {
    color:azure;
    background-image: url(./img/slate-back.jpg);
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}
.navbar:hover {
    color: rgb(128, 165, 202);
    border: inset 2px rgb(73, 73, 73);
}

.welcome {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:solid 1px black;
    padding-bottom: 5px;
}
.top-page {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#slogan {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}